[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
google-cloud-aiplatform = "*"
psycopg2 = "*"
pgvector = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
tiktoken = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.9"
